$c-brand:		#D46D3F;

$c-text-d: 		#363736;
$c-text-l: 		#E7AB8D;

$c-error:		#B00D1E;
$c-success: 	#5CA115;

$font-somment-reg: 			"SommetSlabRegular", serif;

$font-somment-bold: 		"SommetSlabBold", serif;

$font-somment-bold-italic: 	"SommetSlabBoldItalic", serif;
$font-somment-italic-bold: 	"SommetSlabBoldItalic", serif;

$font-somment-italic: 		"SommetSlabItalic", serif;

$logo: "#{$img}wolf_logo.png"